<log4net>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d | %-5p [CHAT]: %m%n"/>
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.FileAppender">
      <file value="persik.log" />
      <layout type="log4net.Layout.PatternLayout">
         <param name="ConversionPattern" value="%d | %-5p [CHAT]: %m%n"/>
      </layout>
    </appender>
	
	<logger name="CHAT">
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </logger>
</log4net>